body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
}

.episode-layout{
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-wrap: wrap;
  min-width: 100vh;
}

.episode-box{
  padding:.5rem;
}

.header{
  justify-content: space-between;
  background: #efefef;
  border-bottom: 1px solid black;
  padding: .5rem 10% .5rem 10%;
  position: sticky;
  top: 0;
}